.forms {
  .forms-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  a.form {
    position: relative;
    width: 100%;
    height: 50vh;
    margin: 5vh 0;

    div {
      height: 100%;
      background-position: center;
      background-size: cover;
    }

    h2 {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #00000080;
      padding-left: 0.5em;
      font-size: 30px;
    }
  }
}
